* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header, 
.about-me,
main > h1,
footer {
  text-align: center;
}

.sun {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 65px;
  left: 700px;
  animation: 20s track infinite alternate;
}

@keyframes track {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(640px);
  }
}

header > h1 {
  font-size: 80px;
  margin-top: 15rem;
  text-shadow: 8px 5px black;
  color: #cbcbcb;
  animation: 20s shadow infinite alternate;
}

@keyframes shadow {
  from {
    text-shadow: 8px 5px black;
  }
  to {
    text-shadow: -8px 5px black;
  }
}

header > h3 {
  font-size: 30px;
  padding-bottom: 8rem;
  width: 87%;
  margin: auto;
  border-bottom: 12px solid rgb(8, 0, 255);
}

.about-me > h1 {
  font-size: 40px;
  margin-top: 10rem;
  margin-bottom: 3rem
}

.about-text {
  font-size: 25px;
  width: 75%;
  margin: auto;
  line-height: 3;
  border: 4px solid rgb(8, 0, 255);
  padding: 4rem;
  margin-bottom: 8rem;
  position: relative;
  background-color: white;
  box-shadow: 15px 14px 0 #000;
}

.dog-pic {
  width: 270px;
  height: auto;
  position: absolute;
  top: 769px;
  left: 200px;
  transition: all 1s;
}

.about-me:hover > .dog-pic {
  transform: translateY(-230px);
}

.dog-pic-flip {
  width: 270px;
  height: auto;
  position: absolute;
  top: 534px;
  right: 75px;
}

.projects-container {
  display: grid;
  justify-content: center;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  /* background-color: #dbdbdb; */
}

main > h1 {
  font-size: 40px;
  border-top: 12px solid rgb(8, 0, 255);
  width: 87%;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

main {
  margin-bottom: 4rem;
}

footer {
  padding-bottom: 2rem;
}

footer * {
  padding: 5px;
  margin: 0;
}

footer > h1 {
  font-size: 40px;
  color: blue;
}

footer > p {
  font-size: 25px;
}

a {
  text-decoration: none;
  padding: 2px;
}

.icon {
  max-width: 30px;
  transition: all .5s;
}

.icon:hover {
  transform: rotate(20deg);
}



@media (min-width: 1775px) {
  .projects-container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 660px) {
  .dog-pic {
    top: 893px;
  }

  header > h1 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}