* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
}

header, 
.about-me,
main > h1,
footer {
  text-align: center;
}

header > h1 {
  font-size: 70px;
  text-shadow: 8px 5px black;
  color: #cbcbcb;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 3rem;
  animation: 4s shadow infinite alternate;
}

@keyframes shadow {
  from {
    text-shadow: 8px 5px black;
  }
  to {
    text-shadow: -8px -5px black;
  }
}

header > h3 {
  font-size: 30px;
  padding-bottom: 8rem;
  width: 87%;
  margin: auto;
  border-bottom: 12px solid rgb(8, 0, 255);
}

.about-me > h1 {
  font-size: 40px;
  margin-top: 10rem;
  margin-bottom: 3rem
}

.about-text {
  font-size: 25px;
  width: 75%;
  margin: auto;
  line-height: 3;
  border: 4px solid rgb(8, 0, 255);
  padding: 4rem;
  margin-bottom: 8rem;
  position: relative;
  background-color: white;
  box-shadow: 15px 14px 0 #000;
  max-width: 1730px;
}

.dog-pic {
  width: 270px;
  height: auto;
  position: absolute;
  top: 700px;
  left: 200px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
}


.about-me:hover > .dog-pic {
  transform: translateY(-230px);
}

.projects-container {
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  padding: 1.5rem 2rem;
}

main > h1 {
  font-size: 40px;
  border-top: 12px solid rgb(8, 0, 255);
  width: 87%;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

main {
  margin-bottom: 4rem;
}

footer {
  padding-bottom: 2rem;
}

footer * {
  padding: 5px;
  margin: 0;
}

footer > h1 {
  font-size: 40px;
  color: blue;
}

footer > p {
  font-size: 25px;
}

a {
  text-decoration: none;
  padding: 2px;
}

.icon {
  max-width: 30px;
  transition: all .5s;
}

.icon:hover {
  transform: rotate(20deg);
}


@media (min-width: 1775px) {
  .projects-container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 665px) {
  .dog-pic {
    top: 850px;
  }
  .projects-container {
    padding: 0;
    margin: auto;
  }

  .about-text {
    box-shadow: none;
    padding: 1rem;
  }
}

@media (max-width: 515px) {
  .dog-pic {
    left: 50px;
  }
}
