* {
  font-family: Arial, Helvetica, sans-serif;
}

header, 
.about-me,
main > h1,
footer {
  text-align: center;
}

.projects-container {
  display: grid;
  justify-content: center;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}


footer * {
  padding: 5px;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 2px;
}

.icon {
  max-width: 30px;
}