.project {
  background-color: white;
  border: 3px solid blue;
  box-shadow: 5px 7px 0 #000;
  /* width: 473px; */
}

.project-body, .project-header {
  padding: 0 1.5rem 0;
}

.project-body p {
  margin-top: 0;
}

.project-pic {
  max-width: 100%;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header > a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 10px 0;
  font-weight: bold;
}

.project-header > a:hover {
  color: blue;
}

.project-links {
  flex: auto;
  text-align: right;
}

.project-links > :first-child {
  padding-right: 1rem;
}

@media (max-width: 665px) {
  .project {
    box-shadow: none;
  }
}