.project {
  background-color: white;
  border: 3px solid blue;
  box-shadow: 5px 7px 0 #000;
}

.project-body, .project-header {
  padding: 0 1.5rem 0;
}

.project-body p {
  margin-top: 0;
}

.project-pic {
  max-width: 100%;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  flex: auto;
  text-align: right;
}

.project-links > :first-child {
  padding-right: 1rem;
}