.slider {
  display: block;
  position: relative;
  width: 96%;
  max-width: 1000px;
  margin: 10px;
  background-color: white;
  overflow: hidden;
}

.slider-slides {
  width: 100%;
  padding-top: 66%;
}

.slider-slide1,
.slider-slide2,
.slider-slide3,
.slider-slide4,
.slider-slide5,
.slider-slide6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  transition: 1s;
  opacity: 0;
}

.slider-slide1.active,
.slider-slide2.active,
.slider-slide3.active,
.slider-slide4.active,
.slider-slide5.active,
.slider-slide6.active {
  opacity: 1;
}

.nav-button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #333;
  opacity: .8;
  cursor: pointer;
}

#nav-button-prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#nav-button-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#nav-button-prev::after,
#nav-button-next::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 40%;
  height: 40%;
}

#nav-button-next::after {
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button-prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}


.slider-dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider-dot1,
.slider-dot2,
.slider-dot3,
.slider-dot4,
.slider-dot5,
.slider-dot6 {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  opacity: .8;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider-dot1.active,
.slider-dot2.active,
.slider-dot3.active,
.slider-dot4.active,
.slider-dot5.active,
.slider-dot6.active {
  background-color: #fff;
  border: 1px #333 solid;
}
